


.container-load {
  background-color: black;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .5s ease-out;
  /* opacity: 0.5; */
  z-index: 1;
}


.row-load{
  /* background-color: red; */
  font-size: 32px;
  color: #fff;
}
*, html{
   scroll-behavior: smooth;
   /* overflow-y: hidden; */

 }


.content{
  position: relative;
  transition: opacity 1s ease-in;
  font-size: 20px;
  /* z-index: 1; */

}

.hidden {
  /* position: relative; */
  /* opacity: 0; */
  display: none;
  /* z-index: -1; */
}


.menu{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-size: 2em;
  padding-top: 2rem;
}




